<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wufanbao.api.oldclientservice.dao.AppDiscoverDao">
    <select id="queryAppDiscover" resultType="com.wufanbao.api.oldclientservice.entity.AppDiscover">
        SELECT * FROM appdiscover WHERE isActive = 1
    </select>
    <select id="appDiscoverShare" resultType="java.util.HashMap">
        select contentUrl,appDiscoverId,isActive,shareTitle,imageUrl,shareImageUrl,shareSubtitle from appDiscover where
        appDiscoverId=#{appDiscoverId}
    </select>
</mapper>