<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wufanbao.api.oldclientservice.dao.ArticleDao">
    <select id="query" parameterType="com.wufanbao.api.oldclientservice.entity.Article"
            resultType="com.wufanbao.api.oldclientservice.entity.Article">
        SELECT * FROM article
    </select>
    <update id="updateLikes" parameterType="com.wufanbao.api.oldclientservice.entity.Article">
        UPDATE article set likes=#{likes} WHERE articleId = #{articleId}
    </update>
</mapper>