<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wufanbao.api.oldclientservice.dao.UserRechargeDao">
    <update id="afterUserRecharge" parameterType="com.wufanbao.api.oldclientservice.entity.UserRecharge">
        UPDATE userRecharge SET
        tradeNo=#{tradeNo},
        actualAmount=#{actualAmount},
        payStatus=#{payStatus},
        receiveTime=CURRENT_TIMESTAMP
        WHERE userId=#{userId} AND rechargeId=#{rechargeId}
    </update>
    <insert id="beforeUserRecharge" parameterType="com.wufanbao.api.oldclientservice.entity.UserRecharge">
        INSERT INTO
        userRecharge(rechargeId,userId,amount,bcTradeNo,tradeNo,payType,createTime,payStatus,actualAmount)VALUES
        (#{rechargeId},#{userId},#{amount},#{bcTradeNo},#{tradeNo},#{payType},CURRENT_TIMESTAMP,#{payStatus},#{actualAmount})
    </insert>
    <select id="queryUserRecharge" resultType="com.wufanbao.api.oldclientservice.entity.UserRecharge">
        SELECT userId,amount,payStatus,receiveTime FROM userrecharge WHERE RechargeId=#{rechargeId}
    </select>
</mapper>