<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wufanbao.api.distributionservice.dao.EmployeeDao">

    <!--根据用户手机号去查询员工信息 -->
    <select id="getEmployeeByLoginNo" resultType="com.wufanbao.api.distributionservice.entities.Employee">
        select employeeId,employeename,passWord,mb,EmployeeId,isActive from Employee where LoginNo=#{loginNo}
    </select>

    <!--根据员工Id 获取员工数据-->
    <select id="getEmployeeById" resultType="com.wufanbao.api.distributionservice.entities.Employee">
        select * from Employee where EmployeeId=#{employeeId}
    </select>

</mapper>
