<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wufanbao.api.distributionservice.dao.ProductDao">
    <!-- 根据补货单ID获取机器商品库存 -->
    <select id="getMachineProductsBySupplementOrderId" resultType="com.wufanbao.api.distributionservice.entities.Product">
        select * from product where machineId=(select machineId from supplementOrder where supplementOrderId=#{supplementOrderId})
    </select>

    <update id="shelveFront">
        update product set Quantity=Quantity+#{shelveQuantity} where machineId=#{machineId} and ProductGlobalId=#{productGlobalId} and MaxQuantity>=(Quantity+#{shelveQuantity})
    </update>
</mapper>