<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wufanbao.api.clientservice.dao.MachineDao">
    <select id="getMachines" resultType="com.wufanbao.api.clientservice.entity.Machine">
        select
        m.isActive,
        m.createTime,
        m.quantity,
        m.status,
        m.machineId,
        m.machineNo,
        m.machineName,
        m.joinCompanyId,
        m.inMaintenance,
        m.putAreaId,
        m.employeeId,
        m.activationCode,
        m.address,
        m.capacity,
        m.cityCompanyId,
        m.fullRefund,
        m.lockQuantity,
        m.logisticCompanyId,
        m.machinePutId,
        m.model,
        m.prepareQuantity,
        m.productionDate,
        m.putMachineName,
        m.seekPhotos,
        m.softwareVersion,
        m.storeId,
        m.useableQuantity,
        m.X,
        m.Y
        from machine as m where m.isActive=1 and status=7;
    </select>
    <select id="getMachinesByAreaId" resultType="com.wufanbao.api.clientservice.entity.Machine">
        select m.isActive,
        m.createTime,
        m.quantity,
        m.status,
        m.machineId,
        m.machineNo,
        m.machineName,
        m.joinCompanyId,
        m.inMaintenance,
        m.putAreaId,
        m.employeeId,
        m.activationCode,
        m.address,
        m.capacity,
        m.cityCompanyId,
        m.fullRefund,
        m.lockQuantity,
        m.logisticCompanyId,
        m.machinePutId,
        m.model,
        m.prepareQuantity,
        m.productionDate,
        m.putMachineName,
        m.seekPhotos,
        m.softwareVersion,
        m.storeId,
        m.useableQuantity,
        m.X,
        m.Y,a.areaName from machine as m join area a on m.putAreaId=a.areaId where m.putAreaId=#{areaId} and
        m.isActive=1 and m.status=7;
    </select>
    <select id="getMachine" resultType="com.wufanbao.api.clientservice.entity.Machine">
        select m.isActive,
        m.createTime,
        m.quantity,
        m.status,
        m.machineId,
        m.machineNo,
        m.machineName,
        m.joinCompanyId,
        m.inMaintenance,
        m.putAreaId,
        m.employeeId,
        m.activationCode,
        m.address,
        m.capacity,
        m.cityCompanyId,
        m.fullRefund,
        m.lockQuantity,
        m.logisticCompanyId,
        m.machinePutId,
        m.model,
        m.prepareQuantity,
        m.productionDate,
        m.putMachineName,
        m.seekPhotos,
        m.softwareVersion,
        m.storeId,
        m.useableQuantity,
        m.X,
        m.Y,
        a.areaName from machine as m join area a on m.putAreaId=a.areaId where m.machineId=#{machineId};
    </select>
</mapper>